{{#if edit}}
  <h2 class="page-header">Edit</h2>
{{else}}
  <h2 class="page-header">Register</h2>
{{/if}}
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
{{#if edit}}
<input type="hidden" name="isEdit" value="true">
{{else}}
<input type="hidden" name="isEdit" value="false">
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value="{{user.name}}" placeholder="Name" name="name" required="required">
  </div>
  <label>Username</label>
  <div class="form-group">
    {{#if edit}}
      <input type="text" readonly class="form-control col-sm-2" value="{{user.countryCode}}" style="width: 10%;" placeholder="Country Code" name="countryCode" required="required">
      <input type="text" readonly class="form-control" value="{{user.username}}" style="width: 90%;" placeholder="Phone number" name="username" required="required">
    {{else}}
      <input type="text" class="form-control col-sm-2" value="{{user.countryCode}}" style="width: 10%;" placeholder="Country Code" name="countryCode" required="required">
       <input type="text" class="form-control" value="{{user.username}}" style="width: 90%;" placeholder="Phone number" name="username" required="required">
    {{/if}}
   </div>
    <div class="form-group">
    <label>Email</label>
    {{#if edit}}
      <input type="text" readonly class="form-control" value="{{user.email}}" placeholder="Email" name="email" required="required">
    {{else}}
      <input type="text" class="form-control" value="{{user.email}}" placeholder="Email" name="email" required="required">
    {{/if}}
  </div>
  <div class="form-group">
    <label>Photo</label>
    <form action="/users/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image"> 
  </form>
  </div>
  <div class="form-group">
    <label>Date of Birth</label>
    <input type="Date" class="form-control" value="{{userInfo.dob}}" placeholder="DD/MM/YYYY" name="dob" required="required">
  </div>
  <div class="form-group">
  <label>Gender</label>
    {{#if edit}}
      {{userInfo.gender}}
    {{else}}
      <select id="gender" value="{{userInfo.gender}}" name="gender" class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    {{/if}}
  
  </div>
  <div class="form-group">
    <label>Address</label>
    <textarea id="address" class="form-control" value="{{userInfo.address}}" name="address" cols="36" rows="5" required="required"></textarea>
  </div>
  {{#if edit}}
  {{else}}
      <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" required="required">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password2" required="required">
    </div>
  {{/if}}
  <button type="submit" class="btn btn-default">Save</button> 
</form>